<div class="menuDetails">
	<div class="title">
		<span i18n> Menu</span>
	</div>

	<div class="menuItemSection">
		<div class="itemTitle">
			Chicken	
		</div>
		<div class="itemDetailsSection">
			<div class="itemDetails">
				Rosted Chiken
				<div class="price1">
					$$/x1
				</div> 
				<div class="price2">
					$$$/x1
				</div> 
			</div>

			<div class="itemDetails">
				Rosted Chiken
				<div class="price1">
					$$/x1
				</div> 
				<div class="price2">
					$$$/x1
				</div> 
			</div>	

			<div class="itemDetails">
				Rosted Chiken
				<div class="price1">
					$$/x1
				</div> 
				<div class="price2">
					$$$/x1
				</div> 
			</div>	

			<div class="itemDetails">
				Rosted Chiken
				<div class="price1">
					$$/x1
				</div> 
				<div class="price2">
					$$$/x1
				</div> 
			</div>	
		</div>	
	</div>

	<div class="menuItemSection">
		<div class="itemTitle">
			Chicken	
		</div>
		<div class="itemDetailsSection">
			<div class="itemDetails">
				Rosted Chiken
				<div class="price1">
					$$/x1
				</div> 
				<div class="price2">
					$$$/x1
				</div> 
			</div>

			<div class="itemDetails">
				Rosted Chiken
				<div class="price1">
					$$/x1
				</div> 
				<div class="price2">
					$$$/x1
				</div> 
			</div>	

			<div class="itemDetails">
				Rosted Chiken
				<div class="price1">
					$$/x1
				</div> 
				<div class="price2">
					$$$/x1
				</div> 
			</div>	

			<div class="itemDetails">
				Rosted Chiken
				<div class="price1">
					$$/x1
				</div> 
				<div class="price2">
					$$$/x1
				</div> 
			</div>	
		</div>	
	</div>


</div>