<div class="eventProposalPage rightSideScreen">
	<div class="content">
	 	<div class="size rightSideTitle">	
			<div class="title backArrow">
				<div i18n> Event Proposal</div>
			</div>
		</div>
		<app-event-block  name="Balli Ballerson" isAcceptedEvent="true" eventType="Birthday" eventDate="16/12/2018"
			participents="12" paid="true" unpaid="true"></app-event-block>

		<app-proposal-block class="blk" name="A1 restaurant" price="1000$"> </app-proposal-block>

		<app-proposal-block class="blk" name="A2 restaurant" price="2000$"> </app-proposal-block>

		<app-proposal-block class="blk" name="A3 restaurant" price="4000$"> </app-proposal-block>
	</div>
</div>
<app-all-events showEventDetail="false" class=""></app-all-events>
			

