<div class="foodDesired infoBox">
		<div class="title text2" i18n> Event Food Desired</div>	
		<div class="suggested red">
			<span class="num">14</span>
			<span class="members" i18n>Members</span>
			<span class="rightTitle" i18n>Suggested Food</span>
			<div class="grayBar"></div>
			<div class="redBar" [style.width.%]="redWidthPercentage"></div>
		</div>

		<div class="suggested green">
			<span class="num">6</span>
			<span class="members" i18n>Members</span>
			<span class="rightTitle" i18n>Suggested Budget</span>
			<div class="grayBar"></div>
			<div class="greenBar" [style.width.%]="greenWidthPercentage"></div>
		</div>
</div>	