<div class="infoBox eventChart">
	<div class="chart">
		<img src="assets/pics/eventchart.jpg">
	</div>
	<div class="stats">
		<div i18n class="subject">
			{{totalTitle}}
		</div>
		<ul>
			<li class="accepted">
				{{acctepted}} <span i18n>accepted </span>
			</li>
			<li class="waiting">
				{{waiting}} <span i18n>waiting</span> 
			</li>
			<li class="decline">
				{{rejected}} <span i18n> decline </span>
			</li>
		</ul>
	</div>
	<div i18n class="total">
		{{total}} {{subject}}
	</div>
</div>