<app-all-events showEventDetail="false" class="rightSideScreen"></app-all-events>
<div class="paymentInfoPage">
	<div class="content">
		<div class="size">	
			<div class="title backArrow">
				<div i18n> Payment Info</div>
			</div>

			<div class="creditCardInfo">
				<span i18n> Credit card info</span>
			</div>	

			<app-event-block name="Balli Ballerson" isAcceptedEvent="true" eventType="Birthday" eventDate="16/12/2018"
			participents="12"></app-event-block>

			<app-event-block name="Balli Ballerson" isAcceptedEvent="true" eventType="Birthday" eventDate="16/12/2018"
			participents="12"></app-event-block>

			<app-event-block name="Balli Ballerson" isAcceptedEvent="true" eventType="Birthday" eventDate="16/12/2018"
			participents="12"></app-event-block>
		</div>

	</div>
</div>	 			