<div class="orderList infoBox">
	<div class="title">
		<span i18n>Order from {{shopname}}</span>
	</div>
	<div class="itemTitle">
		Chicken	
	</div>

	<div class="choices">
		<div class="custom-control custom-radio choice">
			<input type="radio" class="custom-control-input" id="a" name="defaultExampleRadios" mdbInputDirective>
			<label class="custom-control-label" for="a">Rosted Chicken</label>
			<div class="price">
					$$/x1
			</div> 
		</div>
		<div class="custom-control custom-radio choice">
			<input type="radio" class="custom-control-input" id="b" name="defaultExampleRadios" mdbInputDirective>
			<label class="custom-control-label" for="b">Chicken fry</label>
			<div class="price">
					$$/x1
			</div> 
		</div>
		<div class="custom-control custom-radio choice">
			<input type="radio" class="custom-control-input" id="c" name="defaultExampleRadios" mdbInputDirective>
			<label class="custom-control-label" for="c">Chicken Gravy</label>
			<div class="price">
					$$/x1
			</div> 
		</div>
	</div>
	<div class="viwOtherFoods">
		<a>View Other Foods</a>
	</div>
</div>