<div class="block infoBox {{infoBoxV2}}">
	<div class="eventInfo">
		<div class="name">
			{{name}}
		</div>
		<div class="eventType text2">
			{{eventType}}
		</div>
		<div class="eventDate text2">
			<span i18n> Event Date : </span> {{eventDate}}
		</div>
		<div class="participants grayText" [hidden]="eventDetailPage">
			{{participents}} <span i18n> are participating</span>
		</div>
	</div>
	<div class="eventActions">
		<div [hidden]="isAcceptedEvent">
			<div class="openState grayText">
				<span i18n>Closed in </span>
				{{eventAcceptExpiration}} 
				<span i18n> days </span>
			</div>
			<div class="accept rectagleBtnV2Green eventActionBtns">
				<span i18n> Accepte </span>
			</div>
			<div class="decline rectagleBtnV2Gray eventActionBtns">
				<span i18n> Decline </span>
			</div>
		</div>

		<div [hidden]="notAcceptedEvent">
			<div class="acceptedState greenText">
				<span i18n>Accepted </span>
			</div>	
			<div class="acceptedEvent" [hidden]="eventDetailPage">
				<div class="accept rectagleBtnV2Red eventActionBtns">
					<span i18n> View </span>
				</div>
				<div class="decline rectagleBtnV2Gray eventActionBtns">
					<span i18n> Edit </span>
				</div>
			</div>
		</div>

		<div [hidden]="paid" class="paid">
			<div class="status">
				<span i18n>paid</span>
			</div>	
			<div class="price">
				{{paidPrice}}
			</div>	
		</div>	

		<div [hidden]="unpaid" class="unpaid">
			<div class="status">
				<span i18n class="status">unpaid</span>			
			</div>	
			<div class="price">
				{{unpaidPrice}}
			</div>	
		</div>	
	</div>
</div>
