.block {
	margin-bottom: 30px;
	.eventInfo {
		float: left;

		div {
			margin-bottom: 6px;
		}

		.name {
			font-weight: bold;
			font-size: 12px;
			color:black;
		}

		.eventType {
			.grayText();
		}

		.eventDate {
			.grayText();
		}

		.participants {
			.grayText();
			color:red;
		}
	}

	.eventActions {
		div {
			margin-bottom: 6px;
		}

		margin-left: 80%;
		.eventState {
			.grayText();
			font-size: 8px;
			margin-left: 12px;
		}
		
		.accept {

		}
		
		.decline {

		}
	}	
}

.grayText {
	font-size: 10px;
	color:gray;
}