<div class="eventDetail">
	<div class="content">
	 	<div class="size rightSideTitle">	
	 		<div class="title">
				<div i18n> Event Details</div>
			</div>
		</div>
		<app-event-block  infoBoxV2="infoBoxV2" name="Balli Ballerson" isAcceptedEvent="true" eventType="Birthday" eventDate="16/12/2018"
			participents="12" eventDetailPage="true"></app-event-block>

		<app-event-chart subject="Invited" [acctepted]="15" [waiting]="20" [rejected]="12" totalTitle="Participating"></app-event-chart>	

		<app-event-food-desired></app-event-food-desired>

		<div class="infoBox commentBlock">
				<div class="comments">
					<span class="text3"> Comments </span>
				</div>
				<div routerLink="/comments" class="goToComment">
					<span class="text3">(6)</span> 
				</div>
		</div>

		<div class="BtnsSection">
		<div class="HBtns">
				<div class="rectagleBtnV2Red">
						<span i18n> All Events</span>
				</div>

				<div class="rectagleBtnV2Gray">
						<span i18n> OPEN Events</span>
				</div>
			</div>
		<div>	
	</div>
</div>			
