<div class="allEventsSection">
	<div class="content">
		<div class="size">
			<div class="headerBtns">
				<div class="rectagleBtnV2Red">
						<span i18n> All Events</span>
				</div>

				<div class="rectagleBtnV2Gray">
						<span i18n> All Events</span>
				</div>
			</div>

			<app-event-block></app-event-block>
			<app-event-block></app-event-block>
			<app-event-block></app-event-block>
			<app-event-block></app-event-block>
			
			<div class="rectagleBtnV1 createEvent">
				<span>+ Create Event</span>
			</div>
		</div>
		
	</div>
</div>