<app-event-detail  [hidden]="showEventDetail" class="rightSideScreen"></app-event-detail>
<div class="allEventsSection">
	<div class="content">
		<div class="size">
			<div class="HBtns">
				<div class="rectagleBtnV2Red">
					<span i18n> All Events</span>
				</div>

				<div class="rectagleBtnV2Gray">
					<span i18n> OPEN Events</span>
				</div>
			</div>

			<app-event-block name="Balli Ballerson" isAcceptedEvent="true" eventType="Birthday" eventDate="16/12/2018"
			participents="12"></app-event-block>

			<app-event-block name="Tom Ballerson" notAcceptedEvent="true" eventType="Birthday" eventDate="20/11/2018"
			participents="20"></app-event-block>

			<app-event-block name="Max Ballerson" isAcceptedEvent="true" eventType="Marrige" event-date="16/10/2018"
			participents="50"></app-event-block>
			<div class="rectagleBtnV1 createEvent" (click)="openCreateEvent(content)">
				<span>+ Create Event</span>
			</div>
		</div>
		
	</div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
	</div>
	<div class="modal-body">
		body
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark">Save</button>
	</div>
</ng-template>