@greenColor:#1FBB82; ;
@grayColor: #C5D2D8;

.avatar {
	border-radius: 150px;
    width: 115px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.rectagleBtn {
    color: white;
    font-size: 14px;
    text-align: center;
}

.btnV1spec {
    width: 140px;
    height: 23px;
    margin-left: 146px;
    padding-top: 5px;
}  

.rectagleBtnV1 {
	.btnV1spec();
    .rectagleBtn();
    .redBG();
}


.btnV2_V3spec {
    height: 28px;
    width: 116px;
    border-radius: 5px;
    padding-top: 8px;
} 
.rectagleBtnV2Red {
    .btnV2_V3spec();
    .rectagleBtn();
    .redBG();
}

.rectagleBtnV2Gray {
    .btnV2_V3spec();
    .rectagleBtn();
    .grayBG();
}

.rectagleBtnV2Green {
    .btnV2_V3spec();
    .rectagleBtn();
    .greenBG();
}

.redBG {
    background-color: red;
}

.grayBG {
   background-color: @grayColor;   
}

.greenBG {
   background-color: @greenColor;   
}

.infoBox {
    background-color: white;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0px 0px 2px #F6F6F6;
    border-radius:5px;
}

.eventChart {
    .chart {
        float: left;
        margin-right: 45px;
    }
    .stats {
        .subject{
            .sectionHeader();
            padding-top: 20px;
            font-size: 20px;
        }

        ul {
            list-style-type: none;
        }

        .accepted::before {
            background-color: #F46A07;
            .bullet();

        }

        .waiting::before {
         background-color: #6DC6CD;
         .bullet(); 
     }

     .decline::before {
        background-color: #E8B71A;
        .bullet();   
    }
}

.total {
    position: absolute;
    top: 41px;
    right: 38px;
    font-size: 20px;
    font-weight: bold;
}    

}

.bullet {
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.defaultBGcolor {
    background-color: #FAFBFC;
}

.sectionHeader {
    color:gray;
}

.socialSection {
    padding: 20px 20px 60px 20px;
    margin-top: 50px;
    .icons {

    }

    .fbIcon {
        .socialIcons();
        background: url("./assets/pics/FB.jpg");   
    }

    .twitterIcon {
        .socialIcons();
        background: url("./assets/pics/Twitter.jpg");
        margin-left: 6px;   
    }

    .socialIcons {
        content: "";
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        margin-top: 10px;
        float: left;
    }

}

.content {
    margin-left: 18%;
    width: 40%;
    padding-left: 0px;
    padding-top: 50px;
    border-right: 1px solid gray;

    .size  {
        width: 70%;
        margin: auto;
    }    
}

.eventActionBtns {
    height: 21px;
    width: 85px;
    padding-top: 3px;
    border-radius: 20px;
    font-size: 13px;
} 

.hide {
    display: none;
}       

.show {
    display: block;
}

.grayText {
    font-size: 12px;
    color:gray;
} 

.greenText {
     font-size: 12px;
     font-weight: bold;
     color:green;   
}