<div class="infoBox mainIngredient">
<mat-slide-toggle></mat-slide-toggle>	
	<div class="title">
		<span i18n>Main Ingredient</span>
	</div>	

	<div class="addedIngredient barBlockSize">
		<div class="bg-ic_close_red">
			
		</div>
		<span i18n> chicken</span>
	</div>	
	<div class="inputBox">
		<input placeholder="Specific Ingredient" type="text" name="">
	</div>

	<div class="addNewIngredient barBlockSize">
		<div class="bg-ic_add_btn">
			
		</div>
		<span i18n> specific request</span>
	</div>
</div>