<div class="accountPage">
	<div class="content">
	 	<div class="acountInfo">	
			<div class="title">
				<div i18n> My Account</div>
			</div>
			<div class="profileInfo">
				<div class="avatarImg">
	          		<img class="avatar" src="../assets/pics/avatar.jpg">
	      		</div> 
				<div class="cord">
	        		<div class="name">Amanda Hampton</div>
	        		<div class="adress">London, England</div>
	        		<div class="edit rectagleBtn">
	        			<span i18n> Edit profile</span>
	        		</div>	
	      		</div>	
			</div>
			<div class="about">
				<div i18n>
					About
				</div>
				<p>
					Eigentlich versteht man unter dem Begriff speziell elektronische Informationstechnik (EIT), zur Informationstechnik gehören auch nicht-elektronische Systeme (wie die anfangs rein elektrische Telefonie und Telegraphie). Der eigentliche Fachbegriff ist aber (elektronische) Informations- und Datenverarbeitung (EID), der die anfangs getrennten Technologien der Kommunikationsmedien (‚Information‘ im ursprünglichen Sinne der Mitteilung) und der Datenverarbeitung im engeren Sinne (von Akten, Zahlenreihen und ähnlichem, EDV)
				</p>	
			</div>	
   		</div>
   	</div>	

</div>