<div  class="commentPage rightSideScreen">
	<div class="content">
	 	<div class="size rightSideTitle">	
			<div class="title backArrow">
				<span i18n> Comments</span>
			</div>
		</div>
		<app-comment-block commenter="Tom hanks" commentContent="@Many Thanks" commentTime="" commentTime="04:00 PM" avatarURL="assets/pics/avatar.jpg"></app-comment-block>
		<app-comment-block commenter="Tom cruz" commentContent="@Nice pics" commentTime="" commentTime="04:00 PM" avatarURL="assets/pics/avatar.jpg"></app-comment-block>
		<app-comment-block commenter="Tom hanks" commentContent="@Many Thank" commentTime="" commentTime="04:00 PM" avatarURL="assets/pics/avatar.jpg"></app-comment-block>
		<app-comment-block commenter="Tom hanks" commentContent="@Many Thanks" commentTime="" commentTime="04:00 PM" avatarURL="assets/pics/avatar.jpg"></app-comment-block>
		<app-comment-block commenter="Tom hanks" commentContent="@Many Thanks" commentTime="" commentTime="04:00 PM" avatarURL="assets/pics/avatar.jpg"></app-comment-block>
		<app-comment-block commenter="Tom hanks" commentContent="@Many Thanks" commentTime="" commentTime="04:00 PM" avatarURL="assets/pics/avatar.jpg"></app-comment-block>
	</div>
	<div class="writeComment">
			<i class="add material-icons">
				play_circle_filled
			</i>
			<i class="face material-icons">
				sentiment_satisfied_alt
			</i>
		<input  type="" placeholder="Type Message">
	</div>
</div>		
<app-all-events showEventDetail="false" class=""></app-all-events>
	

